* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Courier New", Courier, monospace;
}

header,
section,
footer {
  padding: 2rem;
  margin: 0;
}

.btn {
  background-color: chocolate;
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  cursor: pointer;
  font-weight: bold;
}
h2,
p {
  margin-bottom: 2rem;
}

/* Header */
header {
  padding-top: 5vh;
  background-color: green;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 20px;
}
header a {
  color: white;
  text-decoration: none;
}
nav {
  float: right;
}
#logo {
  float: left;
}

#mob_button {
  display: none;
}

/* section */
section {
  min-height: 85vh;
  width: 100vw;
  padding: 20px;
  scroll-margin-top: 15vh;
}
#first {
  background-color: yellow;
}
#second {
  background-color: aqua;
}
#third {
  background-color: pink;
}

footer {
  padding: 0;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
}

#back_to_top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
#back_to_top a {
  text-decoration: none;
}

/* this sticky class is toggled by js */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: green;
  overflow: hidden; /* use with float to stop overflow from lower parts */
  height: 10vh;
  padding: 16px;
  left: 0;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width of screen */
  height: 100%; /* also full height */
  overflow: scroll; /* allow scroll for longer modal content */
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
#modal-content {
  background-color: white;
  padding: 20px;
}

/* The Close Button */
.close {
  background-color: chocolate;
  color: white;
  float: right;
  font-weight: bold;
  height: 20px;
  width: 20px;
}

/* MOBILE */
@media (max-width: 800px) {
  nav a {
    display: none;
  }

  #mob_button {
    display: block;
    background-color: transparent;
    color: white;
    border: none;
  }
  nav.responsive a {
    display: block;
    position: absolute;
    left: 0;
    top: 85px;
    width: 100%;
  }
}
