* {
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  padding: 0px;
  background-color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

/* header */
header {
  height: 600px;
  padding: 0px;
  margin: 0px;
  color: white;
  background-image: url(https://img.freepik.com/premium-photo/tasty-pepperoni-pizza-black-concrete-background_79782-2290.jpg?w=1800);
  background-origin: border-box;
  background-size: cover;
}

#logo {
  margin: 0;
  padding-left: 20px;
  background-color: #11760f;
  height: 40px;
  font-size: 30px;
  color: black;
  font-style: italic;
}

#hero {
  padding-top: 150px;
  padding-left: 30px;
}
/* Order form */
#orderForm {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(200, 52, 8, 1) 1%,
    rgba(221, 215, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

#pizzaSize,
#customerDetails {
  background-color: #f3d8a6;
}
#topping {
  background-color: #d3b168;
}
/* delivery home */
#deliveryHome,
#sumDeliveryAddress {
  visibility: hidden;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
}

input,
select,
button {
  font-family: inherit;
  margin: 5px;
  font-size: 35px;
}
button {
  border-radius: 20px;
  background-color: #009541;
  font-size: 20px;
  color: white;
  font-weight: 1000;
  padding: 10px;
}

button:hover {
  background-color: #005826;
  cursor: pointer;
  font-weight: bold;
}

#orderForm {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  border: 1px solid;
}

#alert {
  color: red;
  font-weight: bold;
}

#summary {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5%;
  background-color: #009541c7;
}

#summary .grid-item {
  width: 95%;
  background-color: white;
}

#payment {
  padding: 40% 20px;
  text-align: center;
}

#confirm {
  text-align: center;
}
