body {
  font-family: "Courier New", Courier, monospace;
  margin: 10px;
  padding: 20px;
}

#summary {
  visibility: hidden;
}

#orderForm {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: left;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  border: 1px solid;
}
