* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  min-height: 720px;
}

body {
  font: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "color result";
  margin-top: 0;
  height: 100vh;
}
h1,
h2 {
  padding: 30px;
  color: #f7e1d3;
  font-size: 1.5rem;
}

/* Color picker  */
#color {
  display: flex;
  justify-content: center;
}
.color-wrapper {
  width: 30%;
  min-width: 50px;
  max-width: 200px;
  height: 5vh;
  margin: 5px;
  padding: 0 10px 0 10px;
}
#color-wrapper1 {
  background-color: #ff0000;
  flex: 1;
}
#color-wrapper2 {
  background-color: #ffff00;
  flex: 1;
}
#color input {
  height: 100%;
  width: 100%;
  opacity: 0;
}

#option {
  background-color: #60103a;
  color: #f7e1d3;
  text-align: center;
  padding: 0;
  width: 30vw;
  height: 100vh;
}

/* result  */
#result {
  background-color: white;
  background-image: linear-gradient(to top, #ff0000, #ffff00);
  width: 70vw;
  height: 100vh;
}
/* icon */
#top {
  grid-area: top;
  background-image: url(assets/top.png);
}
#topright {
  grid-area: topright;
  background-image: url(assets/topright.png);
}
#topleft {
  grid-area: topleft;
  background-image: url(assets/topleft.png);
}
#bottom {
  grid-area: bottom;
  background-image: url(assets/bottom.png);
}
#bottomright {
  grid-area: bottomright;
  background-image: url(assets/bottomright.png);
}
#bottomleft {
  grid-area: bottomleft;
  background-image: url(assets/bottomleft.png);
}
#left {
  grid-area: left;
  background-image: url(assets/left.png);
}
#right {
  grid-area: right;
  background-image: url(assets/right.png);
}

/* Direction */

#direction {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "topleft top topright"
    "left auto right"
    "bottomleft bottom bottomright";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-around;
  padding: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-item {
  height: 50px;
  width: 50px;
  border: 1px solid;
  text-align: center;
  background-color: #f7e1d3;
  border-radius: 10px;
}
.grid-item:hover {
  background-color: #cc4e00;
  cursor: grab;
}

.grid-item label {
  display: none;
}
.grid-item input {
  opacity: 0;
  width: inherit;
}

.big {
  width: inherit;
  height: inherit;
  padding-right: 5px;
}

@media screen and (max-width: 1200px) {
  #option {
    width: 50vw;
  }
  #result {
    width: 50vw;
  }
}
@media screen and (max-width: 620px) {
  #option {
    width: 50vw;
  }
  #result {
    width: 50vw;
  }
}
@media screen and (max-width: 420px) {
  h1,
  h2 {
    padding: 5px;
  }
  body {
    padding: 0;
    grid-template-columns: auto;
    grid-template-areas: "option" "result";
  }
  #option {
    grid-area: option;
    width: 100vw;
    height: 60vh;
    padding: 0;
  }
  #direction {
    padding: 5px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .color-wrapper {
    width: 13vw;
    height: 5vh;
    margin: 5px;
  }
  #result {
    grid-area: result;
    width: 100vw;
    height: 40vh;
  }
  body {
    font-size: 12px;
  }
  h1,
  h2 {
    font-size: 20px;
  }
}
