* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo", "Courier New", Courier, monospace;
  padding: 0 5vw 0 5vw;
  text-align: center;
  background: linear-gradient(to right, #001eff, #ffff00);
}
.logo {
  background-image: url(assets/pokedex-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  width: 100%;
}
#url {
  font-size: 30px;
  color: yellow;
  text-shadow: 3px 3px #001eff;
}
button {
  font-size: 20px;
  padding: 20px;
  background-color: red;
  color: white;
  border-radius: 50%;
  border: 5px solid gray;
}
button:hover {
  background-color: #001eff;
  color: yellow;
  cursor: pointer;
  border: 5px solid white;
}
.search-area {
  padding: 20px;
}
#search-name {
  width: 30%;
}
.card-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  text-align: center;
  gap: 20px;
}
.card {
  background-color: blue;
  border-radius: 5%;
  width: 150px;
  height: auto;
  transition: all 1s;
}
.card:hover {
  transform: translateY(-5%) scale(110%);
}
.card:hover .card-img {
  background-color: yellow;
}
.card-img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 5%;
}

.card-title {
  background-color: blue;
  color: yellow;
}
.card-type {
  text-align: center;
  font-size: 16px;
  padding: 2px;
  color: black;
}
.card-type-item {
  height: 50px;
  display: inline-block;
  padding: 2px;
  border-radius: 5px;
  width: 57px;
  text-align: center;
}

.bug,
.dark,
.dragon,
.electric,
.fairy,
.fighting,
.fire,
.flying,
.ghost,
.grass,
.ground,
.ice,
.normal,
.poison,
.psychic,
.rock,
.steel,
.water {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bug {
  background-image: url(assets/type_icon/Bug_Type_Icon.png);
}
.dark {
  background-image: url(assets/type_icon/Dark_Type_Icon.png);
}
.dragon {
  background-image: url(assets/type_icon/Dragon_Type_Icon.png);
}
.electric {
  background-image: url(assets/type_icon/Electric_Type_Icon.png);
}
.fairy {
  background-image: url(assets/type_icon/Fairy_Type_Icon.png);
}
.fighting {
  background-image: url(assets/type_icon/Fighting_Type_Icon.png);
}
.fire {
  background-image: url(assets/type_icon/Fire_Type_Icon.png);
}
.flying {
  background-image: url(assets/type_icon/Flying_Type_Icon.png);
}
.ghost {
  background-image: url(assets/type_icon/Ghost_Type_Icon.png);
}
.grass {
  background-image: url(assets/type_icon/Grass_Type_Icon.png);
}
.ground {
  background-image: url(assets/type_icon/Ground_Type_Icon.png);
}
.ice {
  background-image: url(assets/type_icon/Ice_Type_Icon.png);
}
.normal {
  background-image: url(assets/type_icon/Normal_Type_Icon.png);
}
.poison {
  background-image: url(assets/type_icon/Poison_Type_Icon.png);
}
.psychic {
  background-image: url(assets/type_icon/Psychic_Type_Icon.png);
}
.rock {
  background-image: url(assets/type_icon/Rock_Type_Icon.png);
}
.steel {
  background-image: url(assets/type_icon/Steel_Type_Icon.png);
}
.water {
  background-image: url(assets/type_icon/Water_Type_Icon.png);
}
