* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}
html {
  background-color: lightblue;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
}

body {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "search search"
    "insertCar database";
}

#search {
  grid-area: search;
  margin: 0 20vw;
  padding: 20px;
  text-align: center;
  height: 40vh;
  background-color: aqua;
}

#insertCar {
  grid-area: insertCar;
  background-color: bisque;
  margin: 15px;
  padding: 5px;
  text-align: center;
}
#database {
  grid-area: database;
  margin: 15px;
  padding: 5px;
}

label {
  display: inline-block;
  width: 10vw;
  text-align: left;
  margin-right: 30px;
}
button {
  margin: 15px;
  color: white;
  background-color: rgb(13, 23, 205);
  font-size: 1rem;
  text-align: left;
}
table {
  padding: 20px;
  width: 100%;
}
tr,
th,
td {
  border: 1px solid black;
  padding: 10px;
}
th {
  background: rgb(13, 23, 205);
  color: white;
}
input {
  font-size: 20px;
  width: 30%;
}
